<h1>GeoName Sprint</h1>

<p>Choose a quiz.</p>

<% @quizzes.each do |quiz| %>
  <section>
    <h2>
      <%= link_to quiz.title, quiz_path(quiz.slug) %>
    </h2>

    <p>
      <%= quiz.city_count %> cities
    </p>

    <p>
      <%= quiz.duration_minutes %> minutes
    </p>
  </section>

  <hr>
<% end %>
